@import 'styles/mixins.scss';

.eventCard {
    @include mediaXS {
        p {
            width: 100%;
            font-size: 11.5px;
        }
        [data-odd='true'] {
            p {
                text-align: center;
            }
        }
    }

    @include mediaSM {
        p {
            width: 100%;
            font-size: 12px;
        }
        [data-odd='true'] {
            p {
                text-align: center;
            }
        }
    }
}
