$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;

$page-max-width: $md-size;

$padding: 24px;
$border-radius: 4px;

$logo-size: 180px;
$logo-bg-size: 85%;
$max-logo-width: 200px;
$min-logo-height: 60px;
